RewriteEngine On
RewriteBase /

# Don’t rewrite actual files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite API URLs
RewriteRule ^api/mail/?$ api/mail/index.php [QSA,L]
RewriteRule ^api/mail/([0-9]+)$ api/mail/id/index.php [QSA,L]
